/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oregano:ital@0;1&display=swap');

:root {
    --primary-color: #E4ECE7;
    --light-primary-color: white;
    --light-secondary-color: #E2ECF3;
    --light-secondary-trans-color: rgba(226, 236, 243, 0.5);
    --dark-color: #262223;
    --primary-accent-color: #0468BF;
    --primary-accent-color-light: rgba(4, 104, 191, 0.7);
    --secondary-accent-color: #D91A3D;
    --secondary-accent-color-light: rgba(217, 26, 61, 0.7);
    --tertiary-accent-color: #F2B807;
    --tertiary-accent-color-light: rgba(242, 184, 7, 0.7);


    --primary-font: "Oregano", cursive;
    --accent-font: "Limelight", sans-serif;

    --game-controls-bg-diameter: min(70vw,35vh);
}

* {
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    background-color: var(--primary-color);
}

.heading,
h1 {
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-align: center;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;

    padding: 1rem 0;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.heading {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h2,
.sub-heading {
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.75rem;
}

.btn {
    min-width: 15vw;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.btn-primary {
    border-color: var(--primary-accent-color);
    background-color: var(--primary-accent-color);
    min-width: 80vw;
    font-family: var(--accent-font);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding: 0.5rem 0;
    margin: 1rem 0;
}

.btn-circle {
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--secondary-accent-color-light);
    backdrop-filter: blur(2px);
    border-color: var(--light-secondary-color);
    color: white;
}

.btn-circle-outline {
    border-radius: 50%;
    aspect-ratio: 1;
    border: 3px solid var(--secondary-accent-color);
    color: var(--secondary-accent-color);
}

.card {
    width: 100px;
    height: 100px;
    border: 2px solid pink;
    text-align: center;
    margin: 5px;
}

.drop-shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

.section-wrapper {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed green;

}

.section-wrapper>.container {
    width: 100%;
    height: 80%;
    border: 2px dotted palevioletred;
}

.section-wrapper .row {
    height: 100%;
    justify-content: space-between;
}

/*------------- 
Intro section 
---------------*/
#intro {
    text-align: center;
    min-height: 90vh;
}

#intro p {
    margin-bottom: 0.5rem;
}

#intro>row {
    align-items: center;
}

#intro .col-12:nth-child(3),
#intro .col-12:nth-child(4) {
    order: 1;
}

#hero-image {
    --hero-image-width: 75vw;
    min-width: var(--hero-image-width);
    min-height: calc(var(--hero-image-width)*1.12);
    /* to align images within the container */
    position: relative;
    margin-top: 1rem;
    /* border: 2px solid seagreen; */
}

#hero-image>div {
    position: absolute;
    /* Common background image properties in hero image */
    background-repeat: no-repeat;
    background-size: contain;
}

#hero-image>#card-jack {
    background-image: url('../images/playing-card-jack_hero.webp');
    width: 50%;
    height: 72%;
    right: 15%;
    top: 10%;
    /* border: 2px dotted green; */
}

#hero-image>#card-jack::before {
    content: '';
    background-color: var(--light-primary-color);
    border-radius: 0.5rem;
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 106%;
    transform: rotate(-15deg) translateY(-3%) translateX(-1.5%);
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.7);
}

.hero-card-style {
    --card-width: 34.8%;
    border-radius: 0.5rem;
    width: var(--card-width);
    height: calc(var(--card-width)*1.47);
    background-color: rgb(0, 0, 0, 0.25);
    /* border: 2px dotted black; */
}

#hero-image>#card-10-hearts {
    background-image: url('../images/svg-cards/10_of_spades.svg');
    top: 40%;
    right: 13%;
    transform: rotateZ(32deg);
}

#hero-image>#card-ace-spade {
    background-image: url('../images/svg-cards/ace_of_spades.svg');
    top: 42%;
    right: 13%;
    transform: rotateZ(50deg);
}

#hero-image>#chips-image {
    background-image: url('../images/casino-token-chips-shadow.webp');
    width: 70%;
    height: 55%;
    top: 45%;
    right: 25%;
    transform: rotateZ(2.5deg);
    /* border: 2px dotted black; */
}

.modal-header {
    border-bottom: 0;
}

.modal-content .sub-heading {
    color: var(--secondary-accent-color);
    text-align: center;
    margin-top: 0.6rem;
}

.modal-content ul {
    text-align: left;
}

.modal-footer {
    justify-content: center;
}

.modal-footer .btn-circle {
    min-width: 15vw;
}

/* Game section styling */
#player-details,
#dealer-details {
    height: 30%;
    width: 90%;
    border: 2px solid var(--light-primary-color);
    background-color: var(--light-secondary-trans-color);
    backdrop-filter: blur(2px);

    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#player-details h2,
#dealer-details h2 {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    background-color: var(--light-primary-color);

}

#player-cards,
#dealer-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btns-game,
#results {
    height: 18%;
    /* border: 2px dashed red; */
}

#btns-game {
    position: relative;
}

#btns-game::before {
    --diameter: var(--game-controls-bg-diameter);
    content: "";
    display: block;
    z-index: -2;
    width: var(--diameter);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-accent-color);
    border: 5px dashed var(--tertiary-accent-color);
    position: absolute;
    left: calc((100% - var(--diameter))/2);
    top: calc((100% - var(--diameter))/2);

}


#btns-game::after {
    --diameter: calc(var(--game-controls-bg-diameter) * 0.85);
    content: "";
    display: block;
    z-index: -1;
    width: var(--diameter);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);
    border: 10px dotted var(--tertiary-accent-color);
    position: absolute;
    left: calc((100% - var(--diameter))/2);
    top: calc((100% - var(--diameter))/2);

}

#btns-game>button {
    position: absolute;
    --diameter: min(25vw,12vh);
    top: calc((100% - var(--diameter))/2);
    margin: 0;
    z-index: 1;
}

#btn-hit {
    width: var(--diameter);
    left: calc((100% - var(--game-controls-bg-diameter) - (var(--diameter)*0.6))/2);
    background-color: var(--primary-accent-color-light);
}

#btn-stand {
    width: var(--diameter);
    right: calc((100% - var(--game-controls-bg-diameter) - (var(--diameter)*0.6))/2);
}

#bet-amount {
    --diameter: min(45vw,21.6vh);
    width: var(--diameter);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-accent-color);
    border: 5px double var(--tertiary-accent-color);
    position: absolute;
    left: calc((100% - var(--diameter))/2);
    top: calc((100% - var(--diameter))/2);

}

.sum-area {
    width: min(17vw, 8vh);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--tertiary-accent-color-light);
    border: 2px solid var(--light-secondary-color);
    backdrop-filter: blur(2px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
}

div:has(.sum-area:first-child) {
    /* height: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}