/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oregano:ital@0;1&display=swap');

:root {
    --primary-color: #E4ECE7;
    --light-primary-color: white;
    --light-secondary-color: #E2ECF3;
    --light-secondary-trans-color: rgba(226, 236, 243, 0.5);
    --dark-color: #262223;
    --primary-accent-color: #0468BF;
    --primary-accent-color-light: rgba(4, 104, 191, 0.7);
    --secondary-accent-color: #D91A3D;
    --secondary-accent-color-light: rgba(217, 26, 61, 0.7);
    --tertiary-accent-color: #F2B807;
    --tertiary-accent-color-light: rgba(242, 184, 7, 0.7);
    --tertiary-accent-trans-light: rgba(242, 184, 7, 0.2);

    --accent-color-4: #262223;
    --accent-color-4-light: rgba(38, 34, 35, 0.8);

    --accent-color-5: #4DA15C;
    --accent-color-5-light: rgba(77, 161, 92, 0.8);

    --primary-font: "Oregano", cursive;
    --accent-font: "Limelight", sans-serif;

    --intro-area-width: 90vw;
    --intro-area-height: 90vh;
    --hero-image-width: min(calc(0.9 * var(--intro-area-width)), calc(0.40 * var(--intro-area-height)));
    --hero-image-height: calc(1.12 * var(--hero-image-width));

    --deal-area-width: 90vw;
    --deal-area-height: 75vh;
    --bank-area-diameter: calc(0.85 * var(--deal-area-height)/2);


    --game-controls-bg-diameter: min(70vw, 35vh);
    --game-board-width: 90vw;
    --game-board-height: 80vh;
    --user-details-width: calc(0.9 * var(--game-board-width));
    --user-details-height: calc(0.38 * var(--game-board-height));
    --control-panel-width: calc(var(--game-board-width));
    --control-panel-height: calc(0.18 * var(--game-board-height));
    --card-area-height: calc(0.55 * var(--user-details-height));
    --card-area-width: calc(var(--user-details-width));
    --sum-area-height: calc(0.25 * var(--user-details-height));

    --border-radius-style: 0.5rem;

}

* {
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    background-color: var(--primary-color);
}

.heading,
h1 {
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-align: center;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;

    padding: 0.5rem 0;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.heading {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h2,
.sub-heading {
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.75rem;
}

.btn {
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 0.5rem 0;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border: 2px solid var(--light-primary-color);
    transition: transform 0.3s, background 0.3s;
    color: var(--light-primary-color);
}

.btn:hover {
    transform: scale(1.2);
    border: 2px solid var(--light-primary-color);
    color: var(--light-primary-color);
}

.btn:focus {
    outline: 2px solid var(--tertiary-accent-color);
    outline-offset: 2px;
    border: 2px solid var(--light-primary-color);
    color: var(--light-primary-color);
}

.btn-primary {
    background-color: var(--primary-accent-color);
}

.btn-primary:hover {
    background-color: var(--primary-accent-color);
}

.btn-circle {
    border-radius: 50%;
    aspect-ratio: 1;
}

.btn-accent:hover {
    background-color: var(--secondary-accent-color);
    color: var(--light-primary-color);
}

.btn-accent {
    background-color: var(--secondary-accent-color);
    backdrop-filter: blur(2px);
    color: var(--light-primary-color);
}

.drop-shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.btn i{
    transform: translateX(2px);
}

.section-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/background.webp) center/cover no-repeat;
    z-index: -5;

}

.value-display {
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--tertiary-accent-color-light);
    border: 2px solid var(--light-primary-color);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.details-card {
    border: 2px solid var(--light-primary-color);
    background-color: var(--tertiary-accent-trans-light);
    backdrop-filter: blur(2px);
    border-radius: var(--border-radius-style);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.details-card h2 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0.25rem;
    background-color: var(--tertiary-accent-color);
}

/*------------- 
Intro section 
---------------*/
#intro .grid-container {
    width: var(--intro-area-width);
    height: var(--intro-area-height);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--hero-image-height) 2fr 1fr 2fr 1fr;
    grid-template-areas:
        "hero-image"
        "title"
        "play"
        "title-text"
        "tutorial";
    justify-items: center;
    align-items: center;
    /* border: 2px dotted black; */
    background:
        linear-gradient(45deg, transparent, var(--light-secondary-trans-color), transparent);
    border-radius: var(--border-radius-style);
    border: 2px solid var(--light-primary-color);
    backdrop-filter: blur(2px);
}

#hero-image {
    width: var(--hero-image-width);
    height: var(--hero-image-height);
    /* to align images within the container */
    position: relative;
    grid-area: hero-image;
}

#title {
    grid-area: title;
}

#intro h1 {
    font-size: calc(0.045 * var(--intro-area-height));
    margin-left: 1rem;
    margin-right: 1rem;
}

#intro .title-text {
    grid-area: title-text;
    text-align: center;
}

#intro p {
    margin: 0.5rem;
    font-size: calc(0.025 * var(--intro-area-height));
}

#intro h2 {
    font-size: calc(0.03 * var(--intro-area-height));
}

#intro .btn-play-area {
    grid-area: play;
}

#intro .btn-tutorial-area {
    grid-area: tutorial;
}

#hero-image>div {
    position: absolute;
    /* Common background image properties in hero image */
    background-repeat: no-repeat;
    background-size: contain;
}

#hero-image>#card-jack {
    /* background-image: url('../images/playing-card-jack_hero.webp'); */
    width: 50%;
    height: 72%;
    right: 15%;
    top: 10%;
    /* border: 2px dotted green; */
}

#hero-image>#card-jack::before {
    content: '';
    background-color: var(--light-primary-color);
    border-radius: 0.5rem;
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 106%;
    transform: rotate(-15deg) translateY(-3%) translateX(-1.5%);
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.7);
}

#hero-image>#card-jack::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    right: 1%;
    /* top: 10%; */
    background-image: url('../images/playing-card-jack_hero.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-card-style {
    --card-width: 34.8%;
    border-radius: 0.5rem;
    width: var(--card-width);
    height: calc(var(--card-width)*1.47);
    background-color: rgb(0, 0, 0, 0.25);
    /* border: 2px dotted black; */
}

#hero-image>#card-10-hearts {
    background-image: url('../images/svg-cards/10_of_spades.svg');
    top: 40%;
    right: 13%;
    transform: rotateZ(32deg);
    z-index: 2;
}

#hero-image>#card-ace-spade {
    background-image: url('../images/svg-cards/ace_of_spades.svg');
    top: 42%;
    right: 13%;
    transform: rotateZ(50deg);
    z-index: 2;
}

#hero-image>#chips-image {
    background-image: url('../images/casino-token-chips-shadow.webp');
    width: 70%;
    height: 55%;
    top: 45%;
    right: 25%;
    transform: rotateZ(2.5deg);
    z-index: 2;
    /* border: 2px dotted black; */
}


#intro .btn-primary {
    width: calc(0.75 * var(--intro-area-width));
    font-family: var(--accent-font);
    letter-spacing: 0.4rem;
    margin: 1rem 0;
    font-size: calc(0.03 * var(--intro-area-height));
    text-transform: uppercase;
}

#intro .btn-accent {
    width: calc(0.3 * var(--intro-area-width));
    font-size: calc(0.025 * var(--intro-area-height));
}

.modal-header {
    border-bottom: 0;
}

.modal-content .sub-heading {
    color: var(--secondary-accent-color);
    text-align: center;
    margin-top: 0.6rem;
}

.modal-content ul {
    text-align: left;
}

.modal-footer {
    justify-content: center;
}

#game-rules .modal-footer .btn-circle {
    width: calc(0.2 * var(--intro-area-width));
}

/*  
-------------------------------------------------
Deal area section styling 
-------------------------------------------------
*/
#deal .grid-container {
    /* border: 2px dashed green; */
    width: var(--deal-area-width);
    height: var(--deal-area-height);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:
        calc(3 * var(--bank-area-diameter)/4) calc(var(--bank-area-diameter)/4) calc(3 * var(--bank-area-diameter)/4);
    align-content: center;
    align-items: stretch;
    justify-items: center;
    background-color: var(--light-secondary-trans-color);
    border-radius: var(--border-radius-style);
    border: 2px solid var(--light-primary-color);
}

#deal-area.details-card {
    grid-area: 1 / 1 / 3 / 2;
    width: calc(0.85 * var(--deal-area-width));
    z-index: 5;
}

#deal-area.details-card h2 {
    border-top-left-radius: var(--border-radius-style);
    border-top-right-radius: var(--border-radius-style);
}

#deal-area>.btn[data-type="deal"] {
    width: 60%;
    margin: 1rem 0 0.25rem 0;
}

#deal-area .btn[data-type="reset-bet"] {
    height: calc(var(--bank-area-diameter)/6);
    background-color: var(--light-secondary-trans-color);
    margin: 0;
    padding: 0;
    position: absolute;
    left: calc(100% + 2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#deal-area .btn[data-type="reset-bet"]>i {
    color: black;
}

#deal-btn-replace {
    margin: 1rem 0;
    font-size: calc(0.065 * var(--bank-area-diameter));
}

#deal-amount.value-display {
    --diameter: calc(var(--bank-area-diameter) * 0.45);
    height: var(--diameter);
    font-size: calc(0.25 * var(--diameter));
    margin: 0.5rem 0;
    position: relative;
    flex-grow: 1;
}

#deal-amount>p {
    color: var(--light-primary-color);
}

#deal-amount.value-display>p {
    display: flex;
    justify-content: center;
    margin: 0;
}

#bank-area {
    grid-area: 2 / 1 / 4 / 2;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    border: 5px dashed var(--tertiary-accent-color);
    background-color: var(--primary-accent-color);
}

#bank-area:after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);
    border: 8px dotted var(--tertiary-accent-color);
    /* z-index: -1; */
}

#bank-area>button {
    position: absolute;
    width: calc(var(--bank-area-diameter)/3);
    font-size: calc(var(--bank-area-diameter)/15);
    z-index: 5;
}

#bank-area>button:disabled {
    color: var(--light-primary-color);
    border-color: var(--light-primary-color);
    opacity: 0.4;
}

#bank-area>button::after {
    --border-width: calc(0.08 * var(--bank-area-diameter)/3);
    content: "";
    inset: 0;
    position: absolute;
    color: transparent;
    border: var(--border-width) dashed var(--light-primary-color);
    border-radius: 50%;
}

#bank-area>button[data-chip-value="1000"] {
    top: calc(var(--bank-area-diameter)/3);
    left: calc(-1 * var(--bank-area-diameter)/6);
    background-color: var(--accent-color-4);
}

#bank-area>button[data-chip-value="500"] {
    top: calc(0.76 * var(--bank-area-diameter));
    left: calc(0.083 * var(--bank-area-diameter));
    background-color: var(--secondary-accent-color);
}

#bank-area>button[data-chip-value="100"] {
    top: calc(0.76 * var(--bank-area-diameter));
    right: calc(0.083 * var(--bank-area-diameter));
    background-color: var(--primary-accent-color);
}

#bank-area>button[data-chip-value="50"] {
    top: calc(var(--bank-area-diameter)/3);
    right: calc(-1 * var(--bank-area-diameter)/6);
    background-color: var(--accent-color-5);
}

#bank-amount {
    --height: calc(0.6 * var(--bank-area-diameter));
    height: var(--height);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px double var(--tertiary-accent-color);
    background-color: var(--primary-accent-color);
    position: absolute;
    top: calc((var(--bank-area-diameter) - var(--height))/2 - 5px);
    left: calc((var(--bank-area-diameter) - var(--height))/2 - 5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--bank-area-diameter)/8);
    z-index: 4;
}

#bank-amount>p {
    color: var(--light-primary-color);
}

/*  
-------------------------------------------------
Game section styling 
-------------------------------------------------
*/

#game-table {
    width: var(--game-board-width);
    height: var(--game-board-height);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#game-table .details-card {
    height: var(--user-details-height);
    width: var(--user-details-width);
    z-index: 5;
    position: relative;
}

#game-table .details-card>h2 {
    font-size: calc(0.1 * var(--user-details-height));
}
#player-details h2 {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#dealer-details h2 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#game-table .details-card .btn{
    position: absolute;
    width: calc(0.2 * var(--user-details-height));
    bottom: 20%;
    font-size: calc(0.1 * var(--user-details-height));
    margin: 0;
    padding: 0;
    background-color: var(--light-secondary-trans-color);
    color: var(--accent-color-4);
}

#game-table .btn[data-type="game-statistics"] {
    right: 1.5%;
}

#game-table .btn[data-bs-toggle="modal"] {
    left: 1.5%;
}

.cards-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--card-area-height);
}

.card-show {
    --card-height: min(calc(0.45*var(--card-area-width)), calc(var(--card-area-height) - 1rem));
    height: var(--card-height);
    aspect-ratio: 0.69;
    text-align: center;
    margin: 0.5rem 0;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
}

.card-show-partial {
    --card-height: min(calc(0.45*var(--card-area-width)), calc(var(--card-area-height) - 1rem));
    --aspect-ratio: 0.69;
    height: var(--card-height);
    width: calc(var(--card-height) * var(--aspect-ratio)/4);
    overflow-x: hidden;
    background-size: cover;
    border-radius: 0.25rem 0 0 0.25rem;
}

#player-sum.value-display,
#dealer-sum.value-display {
    width: calc(var(--sum-area-height) - 0.25rem);
    margin: 0.125rem 0;
    z-index: 4;
    font-size: calc(0.5 * var(--sum-area-height));
}

#btns-game,
#results {
    height: var(--control-panel-height);
    /* border: 2px dashed red; */
}

#btns-game {
    position: relative;
}

#btns-game::before {
    --diameter: var(--game-controls-bg-diameter);
    content: "";
    display: block;
    z-index: 1;
    width: var(--diameter);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-accent-color);
    border: 5px dashed var(--tertiary-accent-color);
    position: absolute;
    left: calc((100% - var(--diameter))/2);
    top: calc((100% - var(--diameter))/2);
}

#btns-game::after {
    --diameter: calc(var(--game-controls-bg-diameter) * 0.85);
    content: "";
    display: block;
    z-index: 2;
    width: var(--diameter);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);
    border: 10px dotted var(--tertiary-accent-color);
    position: absolute;
    left: calc((100% - var(--diameter))/2);
    top: calc((100% - var(--diameter))/2);

}

#btns-game>button {
    --diameter: calc(0.85 * var(--control-panel-height));
    position: absolute;
    top: calc((100% - var(--diameter))/2);
    margin: 0;
    z-index: 4;
    font-size: calc(0.20 * var(--diameter));
    text-transform: uppercase;
}

#btn-hit:hover {
    background-color: var(--primary-accent-color);
}

#btn-hit {
    width: var(--diameter);
    left: calc((100% - var(--game-controls-bg-diameter) - (var(--diameter)*0.6))/2);
    background-color: var(--primary-accent-color-light);
}

#btn-stand:hover {
    background-color: var(--secondary-accent-color);
}

#btn-stand {
    width: var(--diameter);
    right: calc((100% - var(--game-controls-bg-diameter) - (var(--diameter)*0.6))/2);
    background-color: var(--secondary-accent-color-light);
}

#game-bet-display {
    --diameter: calc(var(--game-controls-bg-diameter) * 0.60);
    width: var(--diameter);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-accent-color);
    border: 5px double var(--tertiary-accent-color);
    position: absolute;
    left: calc((100% - var(--diameter))/2);
    top: calc((100% - var(--diameter))/2);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(0.20 * var(--diameter));
}

#game-bet-display>p {
    color: var(--light-primary-color);
}

#results {
    --results-area-height: calc(var(--control-panel-height) + 2.8 * var(--sum-area-height));
    position: absolute;
    height: var(--results-area-height);
    width: calc(0.8 * var(--game-board-width));
    top: calc((var(--game-board-height) - var(--results-area-height)) / 2);
    z-index: 6;
    background:
        linear-gradient(90deg, var(--light-secondary-trans-color), transparent, var(--light-primary-color));
    border-radius: var(--border-radius-style);
    border: 2px solid var(--light-primary-color);
    padding: 0;
    font-size: calc(0.15 * var(--control-panel-height));
}

#results p {
    margin: 0;
}

#results .message-text {
    font-weight: 900;
    font-size: calc(0.2 * var(--control-panel-height));
    margin: calc(0.045 * var(--sum-area-height)) 0;
}

.results-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:
        calc(1 * var(--sum-area-height)) 6fr 1fr calc(1 * var(--sum-area-height));
    grid-template-areas:
        "results-head"
        "result-message"
        "result-control-panel"
        "statistics";
    justify-items: center;
}

#results>.message {
    grid-area: result-message;
    background-color: var(--tertiary-accent-color-light);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#results>.message>* {
    flex-grow: 1;
}

#results .game-stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#results .control-panel {
    grid-area: result-control-panel;
    background-color: var(--tertiary-accent-color-light);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#results button {
    font-size: calc(0.055 * var(--results-area-height));
    padding: 0.4rem;
}

.hide {
    display: none;
}

/* Media queries */
@media screen and (min-width:768px) {
    :root {
        --intro-area-width: 80vw;
        --intro-area-height: 85vh;
        --hero-image-width: min(calc(0.9 * var(--intro-area-width)), calc(0.4 * var(--intro-area-height)));
        --deal-area-width: 60vw;
        --game-board-width: 70vw;
    }

    #intro .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: var(--hero-image-height) repeat(5, calc(var(--hero-image-height)/5));
        grid-template-areas:
            "hero-image"
            "title"
            "title"
            "title-text"
            "play"
            "play"
            "tutorial";
        align-content: center;
    }

    #results {
        width: calc(0.6 * var(--game-board-width));
    }
}

/* Laptops and larger */
@media screen and (min-width:992px) {
    :root {
        --intro-area-width: 60vw;
        --game-board-width: 60vw;
    }

    #results {
        width: calc(0.5 * var(--game-board-width));
    }

    #deal-area>.btn[data-type="deal"] {
        width: 40%;
    }
}

/* Extra Large laptops and higher */
@media screen and (min-width:1200px) {
    :root {
        --intro-area-width: 50vw;
        --game-board-width: 50vw;
        --deal-area-width: 50vw;
    }
}